* {
    font-family: 'Helvetica', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, #000000, #1b242f);
    cursor: url(img/default01.png), auto;
}

.Container {
    max-width: 1500px;
    min-width: 1400px;
    margin: 7vh auto 10vh;
    padding: 20px;
    border: 4px double;
    flex: 1;
    display: flex;
    background: linear-gradient(to right, #000000, #1B242F);
}
.Container img {
    animation: drop 1s;

}
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.Logo {
    margin-top: 20vh;
    margin-left: 5vh;
}
.Cartelera {
    margin-left: 5vh;
}


ul {
    flex: 2;
    text-align: right;
    margin-right: 50px;
}
ul li{
    list-style: none;
    display: inline-block;
}
ul li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.5rem;
}
ul li a:hover{
    color: rgba(110, 121, 129, 0.801);
}

